html {
    font-size: 62.5%;
}

body {
    background: #fff;
    color: #333;
    font-family: 'Helvetica', sans-serif;
}

.ios-prompt {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    padding: .5rem 8rem .5rem .5rem;
    height: 7.3rem;
    background: rgba(0,0,0,.85);
    color: #fff;
    font-size: 1.5rem;
}

.ios .ios-prompt {
    display: block;
}

.ios.standalone .ios-prompt {
    display: none;
}

.ios-prompt .icon {
    position: absolute;
    top: .5rem;
    right: .5rem;
    display: block;
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 1.1rem;
    background: transparent url(../img/icon.png) no-repeat 99% 50%;
    background-size: cover;
}

.container {
    overflow: hidden;
    margin: 0 auto;
    /* max-width: 640px; */
}

h1 {
    color: #ccc;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 4.2rem;
}

h2 {
    margin: 1rem;
    font-weight: 100;
    font-size: 3.2rem;
}

.slider {
    overflow: hidden;
    width: 200%;
    -webkit-transition: -webkit-transform .4s linear;
    -moz-transition: -moz-transform .4s linear;
    -ms-transition: -ms-transform .4s linear;
    -o-transition: -o-transform .4s linear;
    transition: transform .4s linear;
}

.slider.slide {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.search, .player {
    float: left;
    width: 50%;
}

.top {
    position: relative;
}

.slide-control {
    position: absolute;
    top: -4px;
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
}

.search .slide-control {
    right: 0;
    background: #ccc url(../img/controls.png) no-repeat 0 -17.6rem;
}

.player h2 {
    padding-left: 3.5rem;
}

.player .slide-control {
    left: 0;
    background: #ccc url(../img/controls.png) no-repeat 0 -13.2rem;
}

form {
    position: relative;
    padding: 1rem;
    height: 5rem;
}

.search input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px;
    width: 100%;
    border: 1px solid #eee;
    font-weight: 100;
    font-size: 2rem;
    font-family: 'Helvetica', sans-serif;
    -ms-box-sizing: border-box;
}

.track-list {
    margin: 0;
    padding: 0;
}

.track-list li {
    position: relative;
    overflow: hidden;
    margin: 1rem 1rem 0 1rem;
    padding: 0 .5rem;
    height: 100px;
    border: 1px solid #eee;
    list-style-type: none;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.track-list li.selected {
    opacity: 0.5;
}

.track-list h4 {
    overflow: hidden;
    margin: .5rem 100px .5rem .5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 100;
    font-size: 2.4rem;
}

.track-list h5 {
    margin: .5rem 100px .5rem .5rem;
    font-weight: 100;
    font-size: 1.4rem;
}

.track-list h5 span {
    color: #ccc;
    font-weight: bold;
}

.track-list img {
    position: absolute;
    top: 0;
    right: 0;
}

.enqueue {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    background: #eee;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 4.2rem;
    line-height: 4.4rem;
}

.enqueue.disabled {
    color: #ccc;
}

.controls a {
    display: inline-block;
    margin: 1rem .5rem;
    width: 4.4rem;
    height: 4.4rem;
    background: #fff url(../img/controls.png) no-repeat 0 0;
}

.dashboard a {
    border: .2rem solid #111;
    border-radius: 50%;
}

.playlist li {
    border: 0;
    background: #ccc;

}

.playlist li .item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    border: 1px solid #eee;
    background: #fff;
    -webkit-transition: -webkit-transform .2s linear;
    -moz-transition: -moz-transform .2s linear;
    -ms-transition: -ms-transform .2s linear;
    -o-transition: -o-transform .2s linear;
    transition: transform .2s linear;
}

.playlist li .item.translated {
    -webkit-transform: translateX(15rem);
    -moz-transform: translateX(15rem);
    -ms-transform: translateX(15rem);
    -o-transform: translateX(15rem);
    transform: translateX(15rem);
}

.playlist li.fade {
    opacity: 0;
}

.reorder {
    position: absolute;
    bottom: 0;
    left: .2rem;
    z-index: 1;
}

.reorder a {
    margin: 0;
}

.more {
    position: absolute;
    bottom: -1.2rem;
    left: -1.1rem;
}

.playlist .disabled .item {
    border-width: 4px;
}

.playlist .disabled .more {
    display: none;
}

.more a {
    height: 4rem;
    background-color: transparent;
    background-position: 0 -35.2rem;
}

.reorder .remove {
    background-color: transparent;
    background-position: 0 -30.8rem;
}

.reorder .up {
    background-color: transparent;
    background-position: 0 -26.4rem;
}

.reorder .down {
    background-color: transparent;
    background-position: 0 -22rem;
}

.playlist li:first-child .up,
.playlist li:last-child .down,
.playing li:nth-child(2) .up {
    opacity: .5;
}

.controls a.play {
    background-color: transparent;
    background-position: 0 0rem;
}

.controls a.play.preparing {
    opacity: 0.5;
}

.controls a.pause {
    background-position: 0 -8.8rem;
}

.controls a.skip {
    background-position: 0 -4.4rem;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    margin: -5rem auto auto -5rem;
    padding-top: 7rem;
    width: 10rem;
    height: 3rem;
    border-radius: 3px;
    background: #ccc url(../img/loader.gif) no-repeat 50% 40%;
    color: #fff;
    text-align: center;
    font-weight: 100;
    font-size: 1.4rem;
}